body {
    background-color: #f7f5e6; /* Cream background */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.login-container h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.login-container label {
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Add this to keep padding inside the width */
}

.login-container input[type="submit"] {
    background-color: #5cb85c; /* Bootstrap's btn-success color */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: #4cae4c; /* A slightly darker green */
}

.login-container input[type="text"],
.login-container input[type="password"] {
    border: 1px solid #ccc;
}

/* Adding focus styles for input fields */
.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
